<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/APP_NAME"
        android:roundIcon="@drawable/round_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".common.LowStock"
            android:exported="false" />
        <activity
            android:name=".common.Dashboard"
            android:parentActivityName=".admin.Home"
            android:exported="false" />
        <activity
            android:name=".common.Settings"
            android:theme="@style/Base.Theme.InventoryManagement_setting"
            android:exported="false" />
        <activity
            android:name=".admin.AddNewTransaction"
            android:exported="false" />
        <activity
            android:name=".common.Transactions"
            android:exported="false" />
        <activity
            android:name=".firebase.menu"
            android:exported="false" />
        <activity
            android:name=".admin.AddNewProduct"
            android:exported="false"
            android:parentActivityName=".common.ProductList"
            android:theme="@style/Base.Theme.InventoryManagement_Tital" />
        <activity
            android:name=".common.ProductList"
            android:exported="false" />
        <activity
            android:name=".admin.CreateNewUser"
            android:parentActivityName=".admin.Home"
            android:exported="false" />
        <activity
            android:name=".common.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Home"
            android:exported="false" />
        <activity
            android:name=".common.AdminRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".common.UserTypeActivity"
            android:exported="false" />
        <activity
            android:name=".common.MainSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>